<p>menu works!</p>
<a [routerLink]="['/menu',{outlets: {'data': ['login']}}]">Login</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['employ']}}]">Employ</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['login-reactive']}}]">LoginREactine</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'data': ['employ-reactive']}}]">Employ Reactive</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<hr/>
<router-outlet name="data"></router-outlet>
